@import url("https://fonts.googleapis.com/css2?family=Alyamama:wght@300..900&family=Rakkas&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #053147;
  --second-color: #e5c88e;
  --hover-primary: rgb(15, 85, 200);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s;
}

a:hover {
  color: var(--second-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rakkas", sans-serif;
  font-weight: 500;
}

/* =========== Header =========== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh / 10);
  /* box-shadow: 0px 0px 15px 5px var(--second-color); */ /* add  */
  width: 100%;
  position: fixed;
  z-index: 99999;
  background-color: white;
}

.header .logo {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
}

.header .logo .logo-img {
  width: 150px;
}

.header .logo .name-logo {
  font-size: 25px;
  font-weight: bold;
}

.header .nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo-page {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
}
